einops
einops-exts
numpy==1.26.1
transformers==4.43.3
torch==2.0.1
torchvision==0.15.2
pillow
open_clip_torch>=2.16.0
sentencepiece
contexttimer
decord
fairscale==0.4.4
ftfy
iopath
ipython
omegaconf
opencv-python-headless==4.5.5.64
opendatasets
packaging
pandas
plotly
pre-commit
python-magic
sentencepiece
spacy
streamlit
timm==0.4.12
tqdm
webdataset
wheel
bitsandbytes
openpyxl
scikit-image
matplotlib
accelerate==1.6.0
tokenizers==0.19.1

datasets[vision]
