# torch==2.3.1
torch==2.3.1
torchvision==0.18.1
transformers==4.46.1
timm>=0.9.16
accelerate
sentencepiece
attrdict
einops
numpy<2
openpyxl
tqdm
matplotlib
pandas
opencv-python
bitsandbytes
datasets[vision]
